[@@@@SUB-TEMPLATE:partials/base.inc.mtpl.htm@@@@]
<form class="ux-form" name="Form_Cart" id="Form_Cart" method="post" action="#" onsubmit="return false;">
<input id="cart" type="hidden" name="frm[cart]" value="@cart">
[%%%%IF:CART-ITEMS:@+0;%%%%]
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="col-md-7">Product</th>
			<th class="col-md-3 text-center">Quantity</th>
			<th class="col-md-2 text-right">Price</th>
		</tr>
	</thead>
	<tbody>
		[%%%%LOOP:CART-ITEMS%%%%]
		<tr>
			<td>
				<span style="display:inline-block; font-weight:bold; font-size:18px;">[####CART-ITEMS.NAME|html####]</span>
				<div>
					[%%%%LOOP:CART-ITEMS.ATTRIBUTES%%%%]
					<b>[####CART-ITEMS.ATTRIBUTES._-KEY-_|html####]: </b>[####CART-ITEMS.ATTRIBUTES._-VAL-_|html####]<br>
					[%%%%/LOOP:CART-ITEMS.ATTRIBUTES%%%%]
				</div>
			</td>
			<td class="text-center">
				<div class="form-group">
					<input id="item-id" type="hidden" name="frm[[####CART-ITEMS.HASH|html####]][id]" value="[####CART-ITEMS.ID|html####]">
					<input id="item-hash" type="hidden" name="frm[[####CART-ITEMS.HASH|html####]][hash]" value="[####CART-ITEMS.HASH|html####]">
					<input id="item-qty" type="text" name="frm[[####CART-ITEMS.HASH|html####]][qty]" value="[####CART-ITEMS.QUANTITY|html####]" class="form-control quantity" style="width:50px">
					<span id="item-buttons">
						<button class="ux-button ux-button-secondary ux-button-small btn-update" data-id="[####CART-ITEMS.ID|html####]" data-hash="[####CART-ITEMS.HASH|html####]"><i class="fa fa-refresh"></i> Update</button>
						<button class="ux-button ux-button-special ux-button-small btn-remove" data-id="[####CART-ITEMS.ID|html####]" data-hash="[####CART-ITEMS.HASH|html####]"><i class="fa fa-trash"></i></button>
					</span>
				</div>
			</td>
			<td class="text-right">[####CART-ITEMS.PRICE|html####]&nbsp;[####CART-ITEMS.CURRENCY|html####]</td>
		</tr>
		[%%%%/LOOP:CART-ITEMS%%%%]
	</tbody>
</table>
<div class="text-right">
	<h3>Total:<br>[####CART-TOTAL|html####]&nbsp;[####CART-CURRENCY|html####]</h3>
</div>
<hr>
<p>
	<div class="pull-left">
		<button class="ux-button ux-button-special ux-button-large btn-cart-empty">Empty Cart</button>
		<button class="ux-button ux-button-highlight ux-button-large btn-empty-cart" id="btn-cart-update">Recalculate Cart</button>
	</div>
	<div class="pull-right text-right">
		<a href="?page=[####PAGE-URL|url|html####]&op=checkout" class="ux-button ux-button-regular ux-button-large btn-danger">Checkout</a>
	</div>
</p>
[%%%%ELSE:CART-ITEMS%%%%]
<div id="operation_notice">
	<h3>There are no items in the cart.</h3>
</div>
</form>
[%%%%/IF:CART-ITEMS%%%%]