<script>
	$(document).ready(function(){

		$('.add-to-cart').on('click', function(e){
			e.preventDefault();
			var $btn = $(this);
			var hash = $btn.parent().parent().find('#item-hash').val();
			SmartJS_BrowserUtils.Submit_Form_By_Ajax('Form_'+hash, '?page=[####PAGE-URL|url|js####]&op=cart-json&cart_action=add', true);
			return false;
		});

		$('.btn-remove').on('click', function(e){
			e.preventDefault();
			var $btn = $(this);
			var id = $btn.parent().parent().find('#item-id').val();
			var hash = $btn.parent().parent().find('#item-hash').val();
			var qty = $btn.parent().parent().find('#item-qty').val();
			var url = '?page=[####PAGE-URL|url|js####]&op=cart-json&cart_action=remove'+'&frm[id]='+SmartJS_CoreUtils.escape_url(id)+'&frm[hash]='+SmartJS_CoreUtils.escape_url(hash);
			SmartJS_BrowserUtils.confirm_Dialog('Are you sure you want to delete this item from the cart ?', function(){ if(url) { SmartJS_BrowserUtils.Submit_Form_By_Ajax(false, url, true); } else { alert('Empty URL for delete item !'); } }, 'Delete item from Cart', 500, 150);
			return false;
		});

		$('.btn-update').on('click', function(e){
			e.preventDefault();
			var $btn = $(this);
			var id = $btn.parent().parent().find('#item-id').val();
			var hash = $btn.parent().parent().find('#item-hash').val();
			var qty = $btn.parent().parent().find('#item-qty').val();
			var url = '?page=[####PAGE-URL|url|js####]&op=cart-json&cart_action=update'+'&frm[id]='+SmartJS_CoreUtils.escape_url(id)+'&frm[hash]='+SmartJS_CoreUtils.escape_url(hash)+'&frm[qty]='+SmartJS_CoreUtils.escape_url(qty);
			SmartJS_BrowserUtils.Submit_Form_By_Ajax(false, url, true);
			return false;
		});

		$('#btn-cart-update').on('click', function(e){
			e.preventDefault();
			SmartJS_BrowserUtils.Submit_Form_By_Ajax('Form_Cart', '?page=[####PAGE-URL|url|js####]&op=cart-json&cart_action=update', true);
			return false;
		});

		$('.btn-cart-empty').on('click', function(e){
			e.preventDefault();
			SmartJS_BrowserUtils.confirm_Dialog('Are you sure you want to clear the cart ?', function(){ SmartJS_BrowserUtils.Submit_Form_By_Ajax('Form_Cart', '?page=[####PAGE-URL|url|js####]&op=cart-json&cart_action=empty', true); }, 'Empty Cart', 500, 150);
			return false;
		});
	});
</script>
<div align="center" style="background:#ECECEC; padding:5px;">
	<a class="ux-button ux-button-primary" href="?page=[####PAGE-URL|url|html####]">Shop</a>
	<a class="ux-button ux-button-info" href="?page=[####PAGE-URL|url|html####]&op=cart">Cart</a>
</div>