[Desktop Entry]
Name=Epiphany WebBrowser
GenericName=Epiphany, a WebkitGTK based Browser
Comment=Browse the web
Keywords=web;browser;internet;
Exec=epiphany %U
StartupNotify=true
Terminal=false
Type=Application
Icon=org.gnome.Epiphany
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;
Actions=Incognito;

[Desktop Action Incognito]
Name=New Incognito Window
Exec=epiphany --incognito-mode
