[Desktop Entry]
Version=1.0
Name=Audio Mixer
Comment=Adjust volume levels
Icon=/etc/xdg/uxm-icons/xmix.png
Exec=xfce4-mixer
Type=Application
StartupNotify=true
Terminal=false
Categories=X-XFCE;Audio;Mixer;AudioVideo;
